<footer id="mastfooter" class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="list-unstyled footer-navbar">
                    <li><a class="nav-item" [routerLink]="['/dashboard']">Home</a></li>
                    <li><a class="nav-item" [routerLink]="['/contact']">Contact</a></li>
                    <li><a class="nav-item" [routerLink]="['/order']">Order</a></li>
                    <li><a class="nav-item" [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-lg-8 col-md-6 col-sm-5">
                <div class="text-md-right text-center pt-md-0 pt-4">
                    <img class="footer-logo mb-3" src="assets/images/footer-logo.png">
                    <div class="copyright-text">© 2019 Flexible Drive</div>
                </div>
            </div>
        </div>
    </div>
</footer>
