.form-control , .btn{  
    padding: 0.4rem 1rem;
} 

.product-list ul li {
    word-break: break-word;
}

.product-list .placeholder{
    height: 50px;
    width: 100%;
}

.product-list .placeholder img{
    opacity: 0.5;
}


.partsTable th{
    color: #818181;
    border: 0;
}

.partsTable {
    font-size: 14px;
}