.invalid-feedback { display: block; }
.forgotPassword{ color: #ef5324; }

.btn-primary.loginSignUp, 
.btn-primary.loginSignUp:hover,
.btn-primary.loginSignUp:active,
.btn-primary.loginSignUp:focus{
    background-color: #ffffff;
    border-color: #ef5324;
    color: #ef5324;
}