<app-header></app-header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-none d-lg-block">
                <div class="sidebar h-100">
                    <h4 class="text-secondary mb-4">Settings</h4>
                    <div class="ml-3">
                        <ul class="list-unstyled">
                            <li><a [routerLink]="['/profile']">Profile</a></li>
                            <!-- <li><a>Delivery Address</a></li> -->
                            <li><a [routerLink]="['/change-password']" class="text-primary">Change Password</a></li>
                            <li><a href="javaScript:void(0)" (click)="userLogout()">Log Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <h3 class="my-4 text-dark">Change Password</h3>
                <div class="row">
                    <div class="col-lg-12">
                        <form class="row mt-4" [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()">
                            <div class="form-group col-md-12 col-12">
                                <input type="hidden" formControlName="token">
                                <label for="old_password">Current password</label>
                                <div class="input-animate">
                                    <input type="password" class="form-control" id="old_password" tabindex="1" formControlName="old_password">
                                    <span class="focus-border"><i></i></span>
                                </div>
                                <control-messages *ngIf="isChangePasswordSubmited && changePasswordForm.controls.old_password.errors" [control]="changePasswordForm.get('old_password')"></control-messages>
                            </div>
                            <div class="form-group col-md-12 col-12">
                                <input type="hidden" formControlName="token">
                                <label for="password">New password</label>
                                <div class="input-animate">
                                    <input type="password" class="form-control" id="password" tabindex="2" formControlName="new_password">
                                    <span class="focus-border"><i></i></span>
                                </div>
                                <control-messages *ngIf="isChangePasswordSubmited && changePasswordForm.controls.new_password.errors" [control]="changePasswordForm.get('new_password')"></control-messages>
                            </div>

                            <div class="form-group col-md-12 col-12">
                                <label for="confirm_password">Confirm password</label>
                                <div class="input-animate">
                                    <input type="password" class="form-control" id="confirm_password" tabindex="3" formControlName="confirm_password">
                                    <span class="focus-border"><i></i></span>
                                </div>
                                <control-messages *ngIf="isChangePasswordSubmited && changePasswordForm.controls.confirm_password.errors" [control]="changePasswordForm.get('confirm_password')"></control-messages>
                            </div>
                            <!-- </div> -->
                            <div class="form-group" *ngIf="isChangePasswordFailed === true">
                                <ul class="invalid-feedback" style="display: block;">
                                    <li>{{messages}}</li>
                                </ul>
                            </div>
                            <div class="col-md-12 col-12 confirm-btn mt-3 mb-5 text-lg-right">
                                <button type="submit" class="btn btn-primary btn-long" tabindex="4">submit</button>
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>