<!-- Delivery Form -->
<div [@cartdeliveryform] *ngIf="visible">
    <h5>2. Enter Fullfilment Details</h5>
    <form>
        <div class="col-md-12">
            <div class="row sm-gutters">
                <div class="col-xl-6 form-group">
                    <label for="firstNameDelivery">First Name</label>
                    <input type="text" class="form-control" id="firstNameDelivery">
                </div>
                <div class="col-xl-6 form-group">
                    <label for="lastNameDelivery">Last Name</label>
                    <input type="text" class="form-control" id="lastNameDelivery">
                </div>
            </div>
            <div class="form-group">
                <label for="companyDelivery">Company</label>
                <input type="text" class="form-control" id="companyDelivery">
            </div>
            <div class="form-group">
                <label for="deliveryAddressLine1Delivery">Delivery Address Line 1</label>
                <input type="text" class="form-control" id="deliveryAddressLine1Delivery">
            </div>
            <div class="form-group">
                <label for="deliveryAddressLine2Delivery">Delivery Address Line 2</label>
                <input type="text" class="form-control" id="deliveryAddressLine2Delivery">
            </div>
            <div class="row sm-gutters">
                <div class="col-xl-6 form-group">
                    <label for="stateDelivery">State</label>
                    <input type="text" class="form-control" id="stateDelivery">
                </div>
                <div class="col-xl-6 form-group">
                    <label for="postalCodeDelivery">Postal Code</label>
                    <input type="text" class="form-control" id="postalCodeDelivery">
                </div>
            </div>
            <div class="form-group">
                <label for="mobileDelivery">Mobile</label>
                <input type="text" class="form-control" id="mobileDelivery">
            </div>
            <div class="form-group">
                <label for="emailDelivery">Email</label>
                <input type="email" class="form-control" id="emailDelivery">
            </div>
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
    </form><br>
</div>
<!-- Delivery Form -->